/*@font-face*/

@font-face{
    font-family: "Roboto";
    src: '../fonts/Roboto/Roboto-Regular.ttf';
}

@font-face{
    font-family: "Alta";
    src: '../fonts/Alta-Regular.ttf';
}

@font-face{
    font-family: "Open_Sans";
    src: '../fonts/Open_Sans/OpenSans-Regular.ttf';
}